[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://gitee.com/zrong/maupassant-hugo.git
[submodule "themes/clarity"]
	path = themes/clarity
	url = https://gitee.com/zrong/hugo-clarity.git
